@import "tailwindcss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500, 600, 700, 800, 900');
@import url('https://fonts.googleapis.com/css?family=Italiana:300, 400, 500, 600, 700, 800, 900');

@theme inline {
    /* Configure your theme variables here */
    --font-display: "Inter", "sans-serif";
    --color-primary-500: oklch(0.84 0.18 117.33);
    --spacing: 0.25rem;
}

html {
    scroll-behavior: smooth;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: black;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
    transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
